body {
    background-color: darkslategrey; 
}

h1 {
    font-size: 5vw; color: antiquewhite; text-align: center;
}

h3 {
    font-size: 2vw; text-align: center;
}
main p {
    color: aqua; text-align: center;
}

ul {
    color: violet; 
}

ul li {
    list-style-type: square; ;
}

ol li{
    color: maroon;align-items: center;
}
